@model Google.ViewModels.LoginModel

<div class="col-md-6 col-md-offset-2">
    @if ((Model.AuthenticationSchemes?.Count ?? 0) != 0)
    {
        <section>
            <h4>Sử dụng dịch vụ</h4>
            <hr />
            <form id="external-account" asp-controller="Login" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.AuthenticationSchemes)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        </section>
    }
</div>